.features-section {
  width: 100%;
  background: #transperant;
  padding: 60px 20px;
  text-align: center;
}

.features-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 100px 20px;
  box-sizing: border-box;
}

.feature-card {
  background: #transperant;
  border-radius: 12px;
  padding: 30px 20px;
  flex: 1 1 220px;
  max-width: 250px;

}

.feature-card .icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.feature-card p {
  font-size: 12px;
  color: #7d8796;
  font-weight: 500;
  line-height: 1.6;
}
