* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #111;
}

input, textarea, select { 
  font-size: 16px; /* prevents zoom on mobile */
}
